.more_list a {
    display:block;
    margin:0px 10px;
    padding:7px;
    font-size:12px;
    color:rgba(0,0,0,0.8);
    text-decoration:none;
    border-bottom:1px solid #f0f0f0;
}
.more_list .more_product {
    margin-top:10px;
}
.more_list .all_product {
    margin-bottom:70px;
    text-decoration:underline;
    border:none;
}
.more_list a span {
    display:block;
    width:36px;
    height:36px;
    margin:10px auto 5px;
    background-image:url(../images/more.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.more_list a .image1 {
    background-position:0 0;
}
.more_list a .image2 {
    background-image:url(../images/music.png);
    background-repeat:no-repeat;
    background-size:cover;   
}
.more_list a .image3 {
    background-position:-112px 0;
}
.more_list a .image4 {
    background-position:-36px 0;
}
.more_list a .image5 {
    background-position:-148px 0;
}
.more_list a .image6 {
    background-position:-184px 0;
}